ul.treeView li{ margin-left: 1.2em; position: relative;}
ul.treeView li span.icon{
	width: 1em;
	height: 1em;
	display: block;
	float: left;
	margin-right: .4em;
	margin-top: .2em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: .6;
	position: absolute;
}
ul.treeView li span.button{
	background-image: url(minus_square.svg);
	cursor: pointer;
}
ul.treeView li span.item{
	background-image: url(item.svg);
}
ul.treeView{ list-style-type: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;.7
	user-select: none;
	line-height: 1.5em;
	position: absolute;
	left: 0;
	top: 0;
}
ul.treeView ul{ list-style-type: none }
ul.treeView > li:first-child{ margin-left: .2em;}
ul.treeView li p{ display: inline; cursor: pointer; margin-left: 1.3em;}
ul.treeView li p:hover{ color: #222;}
ul.treeView li.collapsed{ height: 1.5em; overflow: hidden;}
ul.treeView li.collapsed span.button{ background-image: url(plus_square.svg); }
ul.treeView li{ color: #AAA; }
ul.treeView li.visible{ color: #777;}
ul.treeView .active{ font-weight: bold; color: black;}
